# Ignore anything ending with a tilde
*~

# Specific to macOS
.DS_Store

# Specific to CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Specific executables
ml_linear_algebra
ml_prob_and_stats
